@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


@theme {
  --font-primary: "Roboto", sans-serif;
  --color-primaryFonts: #f3f3f3;
  --color-primaryFontsHover: #e4e3e3
}

.bhg {
  background: linear-gradient(to bottom, rgba(114, 27, 17, 1) 10%, rgba(97, 12, 2, 0.5) 40%, rgba(114, 27, 17, 1) 60%);

}

/* For modern browsers */

.kkh::-webkit-scrollbar-track {
  background: transparent;
}

.kkh {
  scrollbar-width: none;
}

.kkh:hover {
  scrollbar-width: 1px;
  scrollbar-color: rgba(100, 99, 99, 0.4);
}